
    <div class="course">
        <div class="course_image"><img [src]="course.avatar" alt=""></div>
        <div class="course_body">
            <h3 class="course_title"><a >{{course.courseName}}</a></h3>
            <div class="course_teacher">{{course.teacherId}}</div>
            <div class="course_text">
                <p>{{course.description}}</p>
            </div>
        </div>
        <div class="course_footer">
            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                <div class="course_info">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <span>{{course.places}}Student</span>
                </div>
                <div class="course_info">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span>{{course.duration}}</span>
                </div>
                <div class="course_price ml-auto">{{course.price}} DT</div>
            </div>
        </div>
    </div>
