<div class="team">
    <div class="team_background parallax-window" data-parallax="scroll"
        data-image-src="assets/images/team_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">The Best Tutors in Town</h2>
                    <div class="section_subtitle">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu.
                            Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team_row">

            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col">
                <app-tutor></app-tutor>
            </div>
            <div class="col-lg-3 col-md-6 team_col">
                <app-tutor></app-tutor>
            </div>
            <div class="col-lg-3 col-md-6 team_col">
                <app-tutor></app-tutor>
            </div>
            <div class="col-lg-3 col-md-6 team_col">
                <app-tutor></app-tutor>
            </div>

        

        </div>
    </div>
</div>